*{
    list-style-type: none;
    
}


.container-tutoriais {
    background-color: #cbf8c2;
    height: 200px;
}

.dark .container-tutoriais {
    background-color: #4b8353;
}

.container-tutoriais h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#3dce8a, #138153, #32da7d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5%;
    margin-left: 4%;
    font-size: 250%;
}

.dark .container-tutoriais h1 {
    background-image: linear-gradient(#9ddf94, #5fdf69, #ffffff);

}

.simb1 {
    bottom: 58%;
    width: 3em;
    position: absolute;
    visibility: hidden;
}
.dautonic .simb1{
    visibility: inherit;
    
}

.logo-tutoriais {
    display: block;
    margin-left: 70%;
    width: 15%;
    margin-top: -9%;
}

.container-tutoriais:hover {
    background-color: #cbffc6;
}

.dark .container-tutoriais:hover {
    background-color: #0d8117;
}

.container-tutoriais:hover+.logo-tutoriais {
    scale: 1.2;
    transition: all 0.2s linear;
}

.logo-tutoriais:hover {
    scale: 1.2;
    transition: all 0.2s linear;
}



h2 {
    margin-top: 3%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #24a154;
}

.dark h2 {
    color: #abebb4;
}

hr {
    opacity: 0;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    margin-top: 6%;
    width: 30%;
    margin-bottom: auto;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
}

.gallery a {
    text-decoration: none;
}

.dark .gallery {
    background-color: #bafcbe;
    border: 1px solid #bff8bd;
}

.dark .gallery:hover {
    background-color: #88df8e;
    border: 1px solid #11df0a;
}

.desc {
    padding: 15px;
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 140%;
    font-weight: bold
}

.gallery .simb2{
    width: 2em;
    position: absolute;
    visibility: hidden;


}

.dautonic .simb2{
    visibility: inherit;
}

.descr {
    padding: 15px;
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 140%;
    font-weight: bold
}

.linha {
    margin-bottom: 5%;
    margin-top: 100%;
    opacity: 0;
}

@media (max-width: 420px) {
    

    ul {
        list-style: none;
        margin: 0%;
    }

    nav {
        height: 55px;
    }
    
    .logo {
        top: 0%;
        height: 8.5%;
    }

    



    li {

        margin-bottom: 5px;
        display: block;
        margin-left: 0%;
    }

    .gallery {
        width: 100%; 
        margin-left: 0cm;

    }
    nav ul {
        margin-right: 0%;
        margin-top: 3%;

    }
    
    nav ul li {
        line-height: 8px;
    }
    
    nav ul li a {
        font-size: 60%;
        padding: 1px 8px;
        border-radius: 20px;
    }
    
    .footer_left {
        margin-left: 0;
    }
    
    .footer-col {
        width: 40%;
        margin-bottom: 2%;
    }
    
    
    .logo-footer-div {
        margin-left: 2%;
        margin-bottom: 2%;
        margin-top: -5%;
    }
    
    .logo-footer {
    
        width: 50%;
        margin-left: 15%;
        margin-bottom: 15%;
    
    }
    
    .copyright {
        font-size: 70%;
        margin-top: -5%;
        margin-right: -130%;
    }
    
    
    .titulo-footer {
        font-size: 70%;
    }
    
    .links-footer a {
        font-size: 55%;
    }
    
    
    .footer {
        margin-top: 3%;
    }
    
    
    .row {
        margin-left: 5%;
        margin-top: 5%;
    }
    
    .topo {
        bottom: 15%;
        right: 5%;
        height: 8%;
        width: 8%;
    }
    
    .barra-ferramentas{
        margin-top: 18%;
        margin-left: -5.7%;
        width: 13%;
        height: 65px;
    }
    
    .down{
        margin-top: 23%;
        width: 5%;
    }
    
    #toolbar {
        margin-top: 15.7%;
        width: 60%;
        height: 91px;
    }
    
    .ball-green{
        margin-left: 56%;
        width: 8%;
    
    }
    
    
    .mm {
        height: 50px;
        width: 50px;
        margin-top: 17px;
    }
    
    .mm img{
        width: 80%;
        margin-top: 13%;
    }
    
    .mais {
        margin-left: 62%;
    }
    
    .text h1 {
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
    }
    
    .menos {
        margin-left: 83.5%;
    }
    
    
}